<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../ev-styles/typography.html">
<link rel="import" href="../paper-behaviors/paper-button-behavior.html">

<dom-module id="ev-button">
  <template strip-whitespace>
    <style>
      :host {
        @apply --layout-inline;
        @apply --layout-center-center;

        background: transparent;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4;
        min-height: 48px;
        min-width: 64px;
        outline: 0;
        padding: 16px;
        position: relative;
        text-align: center;
        transition: all 0.15s ease-in-out 0s;
        user-select: none;

        @apply --ev-font-common-base;
        @apply --ev-button;
      }

      :host(:hover), :host(:focus) {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

        @apply --ev-button-hover;
      }

      :host([disabled]) {
        cursor: auto;
        opacity: 0.4;
        pointer-events: none;

        @apply --ev-button-disabled;
      }

      paper-ripple {
        color: var(--ev-button-ink-color);
      }

      :host([icon-pos=left]) ::slotted(iron-icon) {
        margin-right: 15px;
      }

      :host([icon-pos=right]) ::slotted(iron-icon) {
        margin-left: 15px;
      }

      :host([icon-pos=top]) {
        @apply --layout-vertical;
      }
    </style>

    <slot></slot>
  </template>

  <script>
/**
`ev-button`
A button following the EValue design guidelines

Example:

    <ev-button>Basic button</ev-button>
    <ev-button toggles>Toggleable button</ev-button>

A button that has `toggles` true will remain `active` after being clicked (and
will have an `active` attribute set). For more information, see the `Polymer.IronButtonState`
behavior.

You may use custom DOM in the button body to create a variety of buttons. For example, to
create a button with an icon and some text:

    <ev-button>
      <iron-icon icon="download"></iron-icon>
      Download
    </ev-button>

### Styling

Style the button with CSS as you would a normal DOM element.

    ev-button.fancy {
      background: green;
      color: yellow;
    }

    ev-button.fancy:hover {
      background: lime;
    }

    ev-button[disabled],
    ev-button[toggles][active] {
      background: red;
    }

By default, the ripple is the same color as the foreground, at 25% opacity. You may
customize the color using the `--ev-button-ink-color` custom property.

The following custom properties and mixins are also available for styling:

Custom property         | Description                                                                                         | Default
------------------------|-----------------------------------------------------------------------------------------------------|-------------------------------
`--ev-button-ink-color` | Background color of the ripple                                                                      | `Based on the button's color`
`--ev-button`           | Mixin applied to the button                                                                         | `{}`
`--ev-button-hover`     | Mixin applied to the button in the hover state                                                      | `{}`
`--ev-button-disabled`  | Mixin applied to the disabled button. Note that you can also use the `ev-button[disabled]` selector | `{}`

@customElement
@polymer
@appliesMixin Polymer.PaperButtonBehavior
@demo demo/index.html
*/
    class EvButton extends Polymer.mixinBehaviors([Polymer.PaperButtonBehavior], Polymer.Element) {
      static get is() { return 'ev-button'; }

      static get properties() {
        return {
          /**
           * Position of the optional icon in the button; can be left, right
           * or top. The default is left.
           */
          iconPos: {
            type: String,
            value: 'left'
          }
        }
      }
    }

    window.customElements.define(EvButton.is, EvButton);
  </script>
</dom-module>
